/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito, Arial, Helvetica, sans-serif;
}

/* body {
    margin-left: 100px;
    margin-right: 100px;
} */

header {
    background-color: rgb(37, 37, 37);
    display: flex;
    height: auto;
    width: 100%;
    text-align: center;
}

header h1 {
    color: rgb(42, 171, 226);
    margin-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    float: left;
}

.nav-bar {
    width: 75%;
    display: flex;
    flex-flow: row;
    /* position: relative; */
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-item {
    color: white;
    justify-content: right;
    padding-top: 35px;
    text-align: right;
    padding-left: 50px;
    padding-right: 25px;
}

main {
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
}

article h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

article {
    line-height: 1.3rem;
}

.right-side-boxes {
    margin-left: 100px;
    float: right;
}

.profile {
    height: auto;
    width: auto;
    text-align: center;
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.2);
}

.profile h2 {
    padding: 30px;
}

.profile-picture {
    height: 150px;
    width: 150px;
}

.article-list {
    width: auto;
    height: auto;
    margin-top: 50px;
    padding: 30px 30px 30px 50px;
    line-height: 1.5rem;
    justify-content: center;
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.2);
}

.article-list h4 {
    padding-bottom: 15px;
}

.image-gallery {
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    font-size: 12px;
    text-decoration: none;
    float: right;
}

.img-container {
    width: auto;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
}

.img-tile {
    height: 90px;
    width: 130px;
    margin: 20px;
    background-color: rgb(79, 79, 79);
}

footer {
    width: 100%;
    height: 10vh;
    background-color: rgb(42, 171, 226);
    color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.question-mark {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 2px rgb(37, 37, 37) solid;
    text-align: center;
    background-color: rgb(42, 171, 226);
    position: fixed;
    bottom: 22px;
    right: 22px;
}


